* {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --primary-bg-color: #020617;
    --secondary-bg-color: #c7d2fe;
    --primary-txt-color: #818cf8;
    --primary-txt-color-hover: #6366f1;

}

html, body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--primary-bg-color);
    color: var(--primary-txt-color);
}

nav {
    height: min-content;
    padding: 24px 24px;
    display: flex;
    align-items: center;
    min-height: 64px;
    gap: 12px;
    outline: 1px solid red;
    width: 100%;
}

.logo {
    font-weight: 600;
    width: max-content;
}

.nav-links-container {
    list-style: none;
    display: flex;
    gap: 12px;
    flex-grow: 1;
}

.nav-link {
    display: flex;
    align-items: center;
    padding: 8px 24px;
}

.nav-link a {
    text-decoration: none;
    color: var(--primary-txt-color);
}

.nav-link a:hover {
    color: var(--primary-txt-color-hover);
}

.nav-links-container :nth-child(3) a {
    display: flex;
    align-items: center;
    gap: 4px;
}

.nav-cta {
    margin-left: auto;
    border-radius: 8px;
    background-color: var(--secondary-bg-color);
}

.nav-cta:hover {
    box-shadow: 0px 2px 8px 0px rgba(193, 188, 206, 0.7);
}

.drop-down {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.drop-down a { 
    z-index: 1;
}

.drop-down .menu {
    display: none;
    transition: all 0.3s ease;
}

.drop-down .menu.visible {
    position: absolute;
    top: 0px;
    list-style: none;
    padding: 48px 48px 8px 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: var(--secondary-bg-color);
    border-radius: 8px;
    box-shadow: 0px 2px 8px 0px rgba(193, 188, 206, 0.7);
}

.mobile-menu {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 8px 4px;
    border-radius: 4px;
    z-index: 3;
}

.mobile-menu:hover {
    background-color: var(--secondary-bg-color);
    box-shadow: 0px 2px 8px 0px rgba(193, 188, 206, 0.7);
    cursor: pointer;
}

.mobile-menu.expanded {
    box-shadow: none;
}

.mobile-menu .bar {
    width: 20px;
    height: 2px;
    background-color: var(--primary-txt-color);
    border-radius: 2px;
}

.mobile-menu.expanded :nth-child(1) {
    transform: translateY(3px) rotate(45deg);
}

.mobile-menu.expanded :nth-child(3) {
    transform: translateY(-3px) rotate(-45deg);
}

.mobile-menu.expanded :nth-child(2) {
    display: none;
}



@media screen and (max-width: 767px) {
    nav {
        /* flex-direction: column; */
        outline: 1px solid red;
        /* justify-content: start; */
    }

    .logo {
        /* display: block;
         */
        /* flex: 0 0 auto; */
    }

    .mobile-menu {
        margin-left: auto;
        /* flex: 0 0 auto; */
        /* align-items: center; */
    }

    .nav-links-container {
        background-color: var(--secondary-bg-color);
        flex-direction: column;
        align-items: end;
        position: absolute;
        font-size: 1.3rem;
        gap: 24px;
        height: 100vh;
        padding-top: 96px;
        min-width: 336px;
        top: -24px;
        right: 0;
        /* transform: translateX(336px); */
        transition: all 0.3s ease-in;
    }

    .nav-links-container.collapsed {
        transform: translateX(336px);
    }

    .nav-cta {
        margin-left: 0;
    }
}

