* {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --primary-bg-color: #020617;
    --secondary-bg-color: #1e1b4b;
    --tertiary-bg-color: #c7d2fe;
    --primary-txt-color: #818cf8;
    --primary-txt-color-hover: #6366f1;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--primary-bg-color);
    color: var(--primary-txt-color);
    height: 100vh;
    overflow-x: hidden;
    display: flex;
    flex-flow: column;
}

a i {
    pointer-events: none;
}

nav {
    height: min-content;
    padding: 24px 24px;
    display: flex;
    align-items: center;
    min-height: 64px;
    gap: 12px;
    width: 100%;
}

.logo {
    font-weight: 600;
    width: max-content;
}

.nav-links-container {
    list-style: none;
    display: flex;
    gap: 12px;
    flex-grow: 1;
}

.nav-link {
    display: flex;
    align-items: center;
    padding: 8px 24px;
}

.nav-link a {
    text-decoration: none;
    color: var(--primary-txt-color);
    display: flex;
    align-items: center;
    gap: 4px;
}

.nav-link a:hover {
    color: var(--primary-txt-color-hover);
}

.nav-cta {
    margin-left: auto;
    border-radius: 8px;
    background-color: var(--tertiary-bg-color);
}

.nav-cta a {
    transition: all 0.3s ease;
}

.nav-cta a:hover {
    gap: 8px;
}

.nav-cta:hover {
    box-shadow: 0px 2px 8px 0px rgba(193, 188, 206, 0.7);
}

.drop-down {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.drop-down a { 
    z-index: 1;
}

.drop-down .menu {
    display: none;
}

.drop-down .menu.visible {
    position: absolute;
    top: 0px;
    list-style: none;
    padding: 48px 48px 8px 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: var(--tertiary-bg-color);
    border-radius: 8px;
    box-shadow: 0px 2px 8px 0px rgba(193, 188, 206, 0.7);
}

.mobile-menu {
    display: none;
    flex-direction: column;
    gap: 4px;
    padding: 8px 4px;
    border-radius: 4px;
    z-index: 3;
}

.mobile-menu:hover {
    background-color: var(--tertiary-bg-color);
    box-shadow: 0px 2px 8px 0px rgba(193, 188, 206, 0.7);
    cursor: pointer;
}

.mobile-menu.expanded {
    box-shadow: none;
}

.mobile-menu .bar {
    width: 20px;
    height: 2px;
    background-color: var(--primary-txt-color);
    border-radius: 2px;
    transition: all 0.3s ease;
}

.mobile-menu.expanded :nth-child(1) {
    transform: translateY(3px) rotate(45deg);
}

.mobile-menu.expanded :nth-child(3) {
    transform: translateY(-3px) rotate(-45deg);
}

.mobile-menu.expanded :nth-child(2) {
    display: none;
}

section {
    background-color: var(--secondary-bg-color);
    flex-grow: 1;
}



@media screen and (max-width: 767px) {
    .mobile-menu {
        margin-left: auto;
        display: flex;
    }

    .mobile-menu.expanded:hover {
        background-color: none;
    }

    .nav-links-container {
        background-color: var(--tertiary-bg-color);
        flex-direction: column;
        align-items: end;
        font-size: 1.3rem;
        gap: 24px;
        padding-top: 96px;
        min-width: 336px;
        position: absolute;
        top: -24px;
        bottom: 0;
        right: 0;
        transition: all 0.3s ease-in;
    }

    .nav-links-container.collapsed {
        transform: translateX(336px);
    }

    .nav-cta {
        margin-left: 0;
    }

    .nav-cta:hover {
        box-shadow: none;
    }

    .drop-down .menu.visible {
        position: relative;
        padding: 24px 0px 0px 48px;
        align-items: end;
        box-shadow: none;
    }
}

