* {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --primary-bg-color: #030712;
    --secondary-bg-color: #0f172a;
    --tertiary-bg-color: #334155;
    --primary-txt-color: #f3f4f6;
    --primary-txt-color-hover: #d1d5db;
    --box-shadow: 0px 0px 6px 0px rgba(83, 83, 83, 0.7);
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    background-color: var(--primary-bg-color);
    color: var(--primary-txt-color);
}

nav {
    display: flex;
    align-items: center;
    height: min-content;
    padding: 24px 24px;
    min-height: 64px;
    gap: 64px;
}

.logo {
    font-weight: 600;
}

.nav-links-container {
    display: flex;
    list-style: none;
    gap: 12px;
    flex-grow: 1;
}

.nav-link {
    display: flex;
    align-items: center;
    padding: 8px 24px;
}

.nav-link a {
    display: flex;
    align-items: center;
    gap: 4px;
    text-decoration: none;
    color: var(--primary-txt-color);
}

.nav-link a:hover {
    color: var(--primary-txt-color-hover);
}

.nav-link a i {
    pointer-events: none;
}

.nav-cta {
    margin-left: auto;
    border-radius: 4px;
    background-color: var(--tertiary-bg-color);
}

.nav-cta:hover {
    box-shadow: var(--box-shadow);
}

.nav-cta a {
    transition: gap 0.3s ease;
}

.nav-cta a:hover {
    gap: 8px;
}

.drop-down {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.drop-down a { 
    z-index: 1;
}

.drop-down .menu {
    display: none;
}

.drop-down .menu.expanded {
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: absolute;
    top: 0px;
    padding: 48px 48px 8px 16px;
    border-radius: 4px;
    list-style: none;
    background-color: var(--tertiary-bg-color);
    box-shadow: var(--box-shadow);
}

section {
    background-color: var(--secondary-bg-color);
    flex-grow: 1;
}

@media screen and (max-width: 1024px) {
    .mobile-menu {
        display: flex;
        flex-direction: column;
        gap: 4px;
        padding: 8px 4px;
        border-radius: 4px;
        z-index: 2;
        margin-left: auto;
    }
    
    .mobile-menu:hover {
        cursor: pointer;
        background-color: var(--tertiary-bg-color);
        box-shadow: var(--box-shadow);
    }
    
    .mobile-menu.expanded {
        box-shadow: none;
    }

    .mobile-menu.expanded:hover {
        background-color: none;
    }
    
    .mobile-menu .bar {
        width: 20px;
        height: 2px;
        border-radius: 2px;
        transition: all 0.3s ease;
        background-color: var(--primary-txt-color);
    }
    
    .mobile-menu.expanded :nth-child(1) {
        transform: translateY(3px) rotate(45deg);
    }
    
    .mobile-menu.expanded :nth-child(3) {
        transform: translateY(-3px) rotate(-45deg);
    }
    
    .mobile-menu.expanded :nth-child(2) {
        display: none;
    }

    .nav-links-container {
        flex-direction: column;
        align-items: end;
        gap: 24px;
        position: absolute;
        top: -24px;
        bottom: 0;
        right: 0;
        padding-top: 96px;
        min-width: 336px;
        font-size: 1.3rem;
        transition: all 0.3s ease-in;
        background-color: var(--tertiary-bg-color);
    }

    .nav-links-container.collapsed {
        transform: translateX(336px);
    }

    .nav-cta {
        margin-left: 0;
    }

    .nav-cta:hover {
        box-shadow: none;
    }

    .drop-down .menu.expanded {
        position: relative;
        padding: 24px 0px 0px 48px;
        align-items: end;
        box-shadow: none;
    }
}

